<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<!--
<div ng-controller="MainCtrl" layout="column">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h2>
        <span>Racha</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Navigation" ng-click="toggleRight()">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </md-button>
    </div>
  </md-toolbar>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar ng-controller="RightCtrl" class="md-theme-light">
        <h1 class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Navigation" ng-click="close()">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </md-button>
          Sidenav Right
        </h1>
      </md-toolbar>
    </md-sidenav>
  </section>
</div> -->


<div ng-app="rachaApp" ng-controller="CurrentCtrl">
  <div layout="row" layout-align="center center">
    <md-content layout-padding flex="33" flex-sm="100">
      <br>
      <section layout="column" layout-align="center center" flex>
        <h1>Racha</h1>
      </section>
      <br>
      <section flex>
        <md-input-container>
          <!-- Use floating label instead of placeholder -->
          <label>Name</label>
          <input ng-model="user.name" type="text">
        </md-input-container>
        <md-input-container>
          <!-- Use floating label instead of placeholder -->
          <label>Email</label>
          <input ng-model="user.email" type="email">
        </md-input-container>
      </section>

      <section layout="row" layout-sm="row" layout-align="center center">
        <md-button class="md-raised md-primary">Sign up</md-button>
        <md-button class="md-raised md-primary" ng-click="go('\current')">Login</md-button>
      </section>
    </md-content>
  </div>
</div>
